<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🔥 INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 🔥 UPLOAD (ANDROID ANTIGO) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 🔥 UPLOAD (ANDROID 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:label="Corte Certo"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
